    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About This Report</h2>
              <br/>

                <p>This is a report by <a href="http://www.iog.fsu.edu/paj/">The Project on Accountable Justice</a>, a think-tank based at the Florida State University College of Social Sciences and Public Policy in partnership with the Institute for the Study of Prosocial Behavior at Baylor University, the Institute for Strategic Policy Solutions at St. Petersburg College and the Florida Public Safety Institute at Tallahassee Community College. PAJ is dedicated to advancing public safety through research and evidence.This is a report by </p>



                <p>This report was written by Cyrus O'Brien, Researcher at the Project on Accountable Justice.</p>

                <p>Research assistance was provided by Alexandra Raynolds and Nicholas Truitt, Interns at the Project on Accountable Justice and MA students at the Florida State University College of Social Sciences and Public Policy.</p>

                <p>Deborrah Brodsky, Director of the Project on Accountable Justice, edited this report.</p>

                <p>This report was funded by the Charles Koch Foundation.</p>

                <p>Any findings, opinions, or recommendations expressed herein are that of the authors and do not necessarily reflect the opinion of the Executive Committee, partners, or supporters of the Project on Accountable Justice.</p>

                <br/>
              </div>
        </div>
    </section>
