<!-- About Section -->
<section class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <br/><br/>
            <p><a href="https://projectonaccountablejustice.org/">The Project on Accountable Justice</a> is a criminal justice policy think tank based in Florida with a mission to advance public safety through research and evidence.</p>

            <p>Founded in 2012, PAJ is a partnership of the Florida State University College of Social Sciences and Public Policy, the St. Petersburg College Institute for Strategic Policy Solutions, and the Tallahassee Community College Florida Public Safety Institute.</p>
        </div>
    </div>
</section>
