    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About This Report</h2>
              <br/>
                <p>This is a report by <a href="http://www.iog.fsu.edu/paj/">The Project on Accountable Justice</a>, a
                think-tank based at the John Scott Dailey Florida Institute for Government at Florida State University.</p>
                <p>Deborrah Brodsky, Director of the Project on Accountable Justice, edited this report.</p>
                <p>Cyrus O'Brien ...</p>
                <br/>
              </div>
        </div>
    </section>
